# Relay Configuration
RELAY_PORT=3001
PUBLIC_URL="https://your-public-domain.com"
INTERNAL_SERVER="http://server:3000"
RELAY_URL="http://relay:3001"
GOOGLE_APPLICATION_CREDENTIALS="tobemodified with service account json"